{% extends 'dashboard/navbar.html' %}
{% block dashboard_content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="profile-page-top">
                {% if request.user.profile_phototo %}
                <img src="{{ request.user.profile_photo.url }}" class="profile-user" alt="">
                {% else %}
                <img src="{% static 'img/user.png' %}" class="profile-user" alt="">
                {% endif %}
                <div class="side-profile-details" style="min-width:60%;">
                    <h3><b>{{ request.user.username }}</b> <a href="{% url 'edit-profile' %}"><button type="button" class="btn btn-outline-secondary">Edit
                            Profile</button></a></h3>
                    <h4 class="faded-content">{{ request.user.full_name}}</h4>
                    <div class="row">
                        <div class="col-4">
                            <p><b>{{ request.user.profile_images.count }}</b> Posts</p>
                        </div>
                        <div class="col-4">
                            <p><b>{{ request.user.users_follower.count }}</b> Followers</p>
                        </div>
                        <div class="col-4">
                            <p><b>{{ following }}</b> Following</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-12">
            <h4 class="faded-content"><b>Bio</b></h4>
            {{ request.user.bio }}
        </div>
        <div class="class-col-12">
            <h4 class="faded-content" style="text-align:center;">Posts</h4>
            <div class="row">
                {% for image in images%}
                <div class="col-6">
                    <div class="dashboard-card">
                        <div class="dashboard-card-header">
                            <div class="blog-profile-header">
                                <div class="blog-profile">
                                    {% if image.profile.profile_photo %}
                                    <img src="{{ image.profile.profile_photo.url }}" class="blog-profile-icon" alt="">
                                    {% else %}
                                    <img src="{% static 'img/user.png' %}" class="blog-profile-icon" alt="">
                                    {% endif %}
                                    <span><b>{{ image.profile.username }}</b></span>
                                </div>
                                <i class="fas fa-ellipsis-h profile-ellipsis"></i>
                            </div>

                        </div>
                        <div class="dashboard-card-body">
                            <img src="{{ image.image.url }}" class="img-fluid blog-image" alt="">
                        </div>
                        <div class="dashboard-card-footer">
                            <div class="icons">
                                <i class="far fa-heart likes-btn" data-id="{{image.id}}"></i>
                            </div>
                            <div class="image-caption">
                                <p><b>{{image.likes}} likes</b></p>
                                <p>{{ image.image_caption }}</p>
                                <p class="faded-content view-comments" data-id="{{image.id}}">
                                    View all {{ image.image_comments.count }} comments</p>
                            </div>
                            <div class="image-comments-section" id="comment-section-{{image.id}}">
                                {% for comment in image.image_comments.all %}
                                <div>
                                    {% if comment.profile.profile_photo %}
                                    <img src="{{ comment.profile.profile_photo.url }}" class="blog-profile-icon" alt="">
                                    {% else %}
                                    <img src="{% static 'img/user.png' %}" class="blog-profile-icon" alt="">
                                    {% endif %}
                                </div>
                                <div class="comments-comments">
                                    <span>{{ comment.profile.username }}</span>
                                    <span class="faded-content">{{ comment.comment }}</span>
                                </div><br>
                                {% endfor%}
                            </div>
                            <div class="input-group mb-3" style="border:none;">
                                <input type="text" class="form-control comments-input" id="comments-input-{{image.id}}"
                                    placeholder="Comment...." aria-label="Comments" style="border:none;">
                                <button class="btn btn-link comments-btn" type="button" data-id="{{image.id}}"
                                    style="border:none;">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}